__pycache__
/.venv
/dist
employers.txt
sites.txt
output.json
/docker/config.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/hh-applicant-tool/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/hh-applicant-tool/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/hh-applicant-tool/FileContentIndex/8a53ab6c-590c-4c3e-9547-da222a75ae26.vsidx
.vs/hh-applicant-tool/v17/.wsuo
.vs/hh-applicant-tool/v17/DocumentLayout.backup.json
.vs/hh-applicant-tool/v17/DocumentLayout.json
